body{
	background-color:#607d8b52;
	
}
header{
	color:#00bcd4;
	text-align:center;
	margin-top:-1rem;
    margin-bottom:-4rem;
    margin-left:-2rem;
    font-size:5rem;}
#toggler{
visibility:hidden;
}
label{
	background-color:#00bcd4;
	padding:0rem 0.7rem 0rem 0.7rem;
	font-size:2.5rem;
	float:right;
	flex-direction:row-reverse;
	display:none;
	border-radius:15px;
}
.menu{
	clear:both;
	background-color:white;
	width:;
	margin-top:2.375rem;
}
.menu ul{
	display:flex;
	flex-direction:row-reverse;
	justify-content:center;
}
.menu ul li{
	font-size:1rem;
	background-color:white;
	padding:0.9rem;
    list-style:none;}
.menu ul li a{
	text-decoration:none;
}
.menu ul li:hover{
	cursor:pointer;
	background:skyblue;
}
section{
	height:64%;
	display:flex;
	text-align:center;
	justify-content:center;
	flex-direction:column;
}
section h1{
	font-size:5rem;
	color:#00bcd4;
}
section p{
	font-size:2rem;
	color:#00bcd4;
}
footer{
	background:white;
}
.foot-content{
	display:flex;
	justify-content:space-evenly;
	font-size:2rem;
}
footer a{
	display:flex;
	justify-content: center;
	margin-top:-2rem;
}
/*responsive section*/
@media screen and (max-width:800px){
	label{
		display:block}
		.menu {
			visibility:hidden;
			margin-top:3.75rem;
			
		}
		header{
			margin-bottom:-4.5rem;
			background-color:white;
			margin-right:4rem;
		}
		#toggler:checked~.menu{
			visibility:visible;
		}
		.menu ul li{
			background-color:#110a1c33;
		}
}
/*portfolio page*/
.portfolio{
	display:grid;
	grid-template-columns:auto auto;
	column-gap:0.6rem;
	grid-row-gap:0.6rem;
}
.item1{
	background:white;
	margin-right:27.125rem;
	display:grid;
	justify-content:center;
	align-items:center;
	box-shadow: 4px 4px 0px 0px rgba(0 0 0 / 10%);
}
.item2{
	background:white;
	grid-area:2/2/3/3;
	margin-left:-27.125rem;
	box-shadow: 4px 4px 0px 0px rgba(0 0 0 / 10%);}
.item3{
	background:white;
	box-shadow: 4px 4px 0px 0px rgba(0 0 0 / 10%);
}
.item4{
	background:white;
	box-shadow: 4px 4px 0px 0px rgba(0 0 0 / 10%);
}

.topic{
	background:white;
	grid-area:1/1/2/3;
	display:grid;
	justify-content:center;
	align-items:center;
	padding:1rem;
	font-size:2rem;
}
}
.item1 h1{
	text-align:center;
}
.item2 h1{
	text-align:center;
}
.item3 h1{
	text-align:center;
}
.item4 h1{
	text-align:center;
}